* {
    font-family: inter ;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0; 
    list-style: none;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(58, 58, 59, 0.81);
}